
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To-Do</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   {% stylesheets
        '@TodoBundle/Resources/public/css/bootstrap.css'
        '@TodoBundle/Resources/public/css/bootstrap-responsive.css'
'@TodoBundle/Resources/public/css/custom-style.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
    </head>

  <body>

    {%block header%}{% endblock %}
    <div id="wrap">
        <div class="container">
          <h1>{% block title %}{%endblock%}</h1>
          {% block content %}{%endblock%}
        </div> <!-- /container -->
    </div>
    {% block footer %}{%endblock%}
    {% javascripts
        '@TodoBundle/Resources/public/js/jquery-1.8.3.min.js'
        '@TodoBundle/Resources/public/js/bootstrap.min.js'
        '@TodoBundle/Resources/public/js/custom-js.js'
        
          output='js/head_compiled.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    {%block modal_done%}{%endblock%}
    {%block modal_success%}{%endblock%}
    
    
    

  </body>
</html>
