{% extends "TodoBundle::layout.html.twig" %}

{% block title %}Tasks{%endblock%}

{% block content %}

<div class="btn-group">
  <button class="btn btn-small"><a href="{{ path('_task_new')}}" ><i class="icon-plus"></i> New</a></button>
  <button class="btn btn-small"><a href="#" ><i class=" icon-remove"></i> Delete</a></button>
  
</div>


<table class="table table-bordered table-grid " id="table-task">
    {% include 'TodoBundle::table_task.html.twig' %}         
</table>
{%endblock%}

{% block modal_done %}
<div id="modal-from-done" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Set Done Task</h3>
    </div>
    <div class="modal-body">
      <p>You are about to set "Done" one task</p>
      <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <a href="javascript:$('#modal-from-done').modal('hide')" class="btn secondary">No</a>  
      <button id="done-confirm" class=" accept-confirm-done btn btn-primary" data-id="" data-refresh-url="{{ path('_welcome',{'ajax_update':'ajax_update'})}}">Yes</button>      
    </div>
</div>
{% endblock %}


{% block modal_success %}
<div id="modal-from-success" class="modal hide fade">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3></h3>
    </div>
    <div class="modal-body">
      <p></p>
    </div>
    <div class="modal-footer">
      <a href="javascript:$('#modal-from-success').modal('hide')" class="btn primary">Close</a>  
    </div>
</div>
{% endblock %}

